:root {
  --main-page-highlight-color: rgb(203, 104, 212);
  --main-page-button-color: rgb(0, 23, 99);
  --main-page-offset-color: rgb(192, 191, 191); 
  }
  
body {
  width: cal(100% - 40px);
  height: cal(100% - 40px);
  margin: 0px;
  padding: 0;
  background-color: white;
  font-family: sans-serif, Arial, 'Comic Sans MS';
  box-sizing: border-box;
  font-size: 17px;
  }

.column_1 {
  padding: 13px;
  flex: 14%;
  /* border: 1px dashed lightgray; */
  }

.column_2 {
  padding-top: 0px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  flex: 80%;
  min-width: (300px + 40px);
  /* border: 1px dashed lightgray; */
  }

.column_3 {
  padding: 13px;
  flex: 6%;
  /* border: 1px dashed lightgray; */
  }

h1 {
  font-size: 35px;
  font-weight: bold;
  color: black;
  padding-top: 0px;
  }
  
h2 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding-top: 0px;
  }

h3 {
  font-size: 25px;
  font-weight: bold;
  color: black;
  padding-top: 0px;
  }
  
.main_page_container {
  display: flex;
  flex-direction: column;
  width: auto;
  min-height: 600px;
  padding-top: 0px;
  padding-left: 20px;
  padding-right: 20px;
  border: 3px solid black;
  border-radius: 3px;
  margin: 20px;
  }
  
header {
  display: flex;
  flex-direction: row;
  }

.header_score_link {
  color: var(--main-page-highlight-color);
  }

.header_score_link:hover {
  text-decoration: underline;
  cursor: pointer;
  }

header .column_3 {
  text-align: right;
  }
  
.quiz_area_container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  }

.quiz_introduction_screen {
  display: flex;
  flex-direction: row;
  visibility: hidden;
  height: 1px;
  }

.quiz_introduction_screen .column_2 {
  text-align: center;
  padding-bottom: 30px;
  /* border: 1px dashed lightgray; */
  }

.quiz_question_screen, 
.completion_screen, 
.high_scores_screen {
  display: flex;
  flex-direction: row;
  visibility: hidden;
  height: 1px;
  }

.quiz_question_screen .column_2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  }

.completion_screen .column_2, 
.high_scores_screen .column_2 {
  display: flex;
  flex-direction: column;
  text-align: left;
  }

.completion_screen ~ #completion_screen_button_row, 
.high_scores_screen ~ #high_scores_screen_button_row {
  display: flex;
  flex-direction: row;
  width: auto;
}

#final_score {
  border: none;
  width: 20px;
  font-size: 20px;
  font-weight: bold;
}

#initials_entry_field {
  border: 3px solid lightgray;
  width: 100px;
  height: 30px;
  font-size: 20px;
  font-weight: bold;
}

#high_scores_history_field {
  background-color:rgba(189, 197, 232, 0.798);
  border: none;
  color: black;
  width: 100%;
  height: 50px;
  max-height: 300px;
  overflow: auto;
}

footer {
  display: flex;
  flex-direction: row;
  margin-top: 0px;
  margin-bottom: 40px;
  height: auto;
  }

.footer_question_status_text {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 10px;
  padding-left: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: var(--main-page-offset-color);
  border-top: 4px solid var(--main-page-offset-color);
  visibility: visible;
  }
  
.button {
  border: none;
  background-color: var(--main-page-button-color);
  border-radius: 5px;
  color: white;
  display: inline;
  font-size: 17px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  align-items: center;
  width: 30ch;
  cursor: pointer;
  }

.button:hover {
  background-color: var(--main-page-highlight-color);
  cursor: pointer;
  }

@media (min-width: 750px) {
  .column_1 {  /* size to regular-mode size for average/large screens */
    flex: 14%;
  }
  .column_2 {  /* size to regular-mode size for average/large screens */
    flex: 80%;
    min-width: (300px + 40px);
  }
  .column_3 {  /* size to regular-mode size for average/large screens */
    flex: 6%;
  }
  header .column_1 {  /* size to regular-mode size for average/large screens */
    flex: 14%;
  }
  header .column_2 {  /* size to regular-mode size for average/large screens */
    flex: 80%;
    min-width: (300px + 40px);
  }
  header .column_3 {  /* size to regular-mode size for average/large screens */
    flex: 6%;
  }
}
  
@media (max-width: 500px) {
  .column_1 {  /* collapse the left column except for the one of the header section */
    flex: 1%;
  }
  .column_2 {  /* fully expand the middle/main column except for the one of the header section */
    flex: 98%;
    min-width: (300px + 40px);
  }
  .column_3 {  /* collapse the right column except for the one of the header section */
    flex: 1%;
  }
  header .column_1 {  /* expand the left column of the header section on extra-small screens */
    flex: 69%;
  }
  header .column_2 {  /* collapse the middle column of the header section on extra-small screen */
    flex: 2%;
    min-width: 2%;  }
  header .column_3 {  /* expand the right column of the header section on extra-small screen */
    flex: 29%;
  }
}

