:root {
  --main-page-highlight-color: rgb(203, 104, 212);
  --main-page-button-color: rgb(0, 23, 99);
  --main-page-offset-color: lightgray; 
  }
  
body {
  width: cal(100% - 40px);
  height: cal(100% - 40px);
  margin: 0px;
  padding: 0;
  background-color: white;
  font-family: sans-serif, Arial, 'Comic Sans MS';
  box-sizing: border-box;
  }

.column_1 {
  min-width: 170px;
  border: 1px solid var(--main-border-color-light-light-gray);
  padding: 15px;
  flex: 15%;
  }

.column_2 {
  min-width: 400px;
  border: 1px solid var(--main-border-color-light-light-gray);
  padding: 15px;
  flex: 80%;
  }

.column_3 {
  min-width: 100px;
  border: 1px solid var(--main-border-color-light-light-gray);
  padding: 15px;
  flex: 5%;
  }

h1 {
  font-size: 40px;
  font-weight: bold;
  color: black;
  padding-top: 20px;
  }
  
h2 {
  font-size: 30px;
  font-weight: bold;
  color: black;
  padding-top: 10px;
  }

h3 {
  font-size: 20px;
  font-weight: bold;
  color: black;
  padding-top: 5px;
  }
  
.main_page_container {
  width: fit-content;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border: 3px solid black;
  border-radius: 3px;
  margin: 20px;
  }
  
header {
  display: flex;
  }

.header_function_text {
  color: var(--main-page-highlight-color);
  }

.header_function_text:hover {
  text-decoration: underline;
  cursor: pointer;
  }

header .column_3 {
  text-align: right;
}
  
.section_container {
  display: flex;
  }

.section_body {
  min-width: 500px;
  min-height: 300px;
  }

footer {
  display: flex;
  margin-top: 0px;
  margin-bottom: 40px;
  }

footer .column_2 {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 40px;
  border-top: 4px solid var(--main-page-offset-color);
  }

.section_footer_status_text {
  text-align: left;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  color: var(--main-page-offset-color);
  }
  
.button {
  border: none;
  background-color: var(--main-page-button-color);
  border-radius: 5px;
  color: white;
  display: flex;
  font-size: 20px;
  line-height: 20px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  margin-bottom: 10px;
  padding: 10px;
  text-align: left;
  align-items: center;
  height: 40px;
  width: 300px;
  cursor: pointer;
  }

.button:hover {
  background-color: var(--main-page-highlight-color);
  cursor: pointer;
  }

@media (min-width: 750px) {
  .column_1 {  /* size to regular-mode size for average/large screens */
    min-width: 170px;
    flex: 15%;
  }
  .column_2 {  /* size to regular-mode size for average/large screens */
    min-width: 400px;
    flex: 80%;
  }
  .column_3 {  /* size to regular-mode size for average/large screens */
    min-width: 100px;
    flex: 5%;
  }
  header .column_1 {  /* size to regular-mode size for average/large screens */
    min-width: 170px;
    flex: 15%;
  }
  header .column_2 {  /* size to regular-mode size for average/large screens */
    min-width: 400px;
    flex: 80%;
  }
  header .column_3 {  /* size to regular-mode size for average/large screens */
    min-width: 100px;
    flex: 5%;
  }
}
  
@media (max-width: 500px) {
  .column_1 {  /* collapse the left column except for the one of the header section */
    min-width: 1%;
    flex: 1%;
  }
  .column_2 {  /* fully expand the middle/main column except for the one of the header section */
    min-width: 400px;
    flex: 98%;
  }
  .column_3 {  /* collapse the right column except for the one of the header section */
    min-width: 1%;
    flex: 1%;
  }
  header .column_1 {  /* expand the left column of the header section on extra-small screens */
    min-width: 170px;
    flex: 69%;
  }
  header .column_2 {  /* collapse the middle column of the header section on extra-small screen */
    min-width: 2%;
    flex: 2%;
  }
  header .column_3 {  /* expand the right column of the header section on extra-small screen */
    min-width: 100px;
    flex: 29%;
  }
}
